.centered-body-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
}

.menu-section {
  flex-basis: 25%;
  flex-shrink: 0;
  border-right: 1px solid #ddd; /* 오른쪽에 선 추가 */
}

.mail-list-section {
  flex-grow: 1;
  padding: 20px; 
}